.container li :visited,
.container li ::before {
	color: white;
}

.ulContainer {
	display: block;
	position: fixed;
	z-index: 20;
	width: 100%;
	top: 3.3rem;
	display: flex;
	padding: 1rem;
	background-color: whitesmoke;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

.ulContainer li a {
	text-decoration: none;
	color: rgb(75, 87, 98);
}
