.container {
	height: 7rem;
	max-width: 100vw;
	background-color: black;
	display: flex;
	color: white;
	justify-content: space-around;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.links {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.links a {
	text-decoration: none;
	color: white;
}
