@font-face {
	font-family: 'Montserrat';
	src: url('../assets/Montserrat/Montserrat-VariableFont_wght.ttf');
	font-weight: normal;
}
:root {
	--font: Montserrat;
	--font-size: 1rem;
	--h1: 4rem;
	--h2: 2.5rem;
}
* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
	max-width: 100%;
	font-size: var(--font-size);
	font-family: var(--font);
}

html,
body,
div#__next {
	min-height: 100vh;
	max-width: 100%;
}
div#__next {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
