@font-face {
	font-family: 'Fira-Sans';
	src: url(../assets/Fonts/FiraSans-Regular.ttf);
}

* {
	padding: 0%;
	margin: 0%;
	font-family: 'Fira-Sans';
}

html,
body,
#__next {
	min-height: 100%;
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
}
