.flex_block_1 {
	min-height: 100%;
	width: 100%;
	padding: 2rem 0;
	display: flex;
	justify-content: space-around;
}

.header {
	text-align: center;
	font-size: 2rem;
	font-family: var(--default);
}

.item_1 {
	max-width: 40rem;
	flex-basis: 50%;
}

.item_2 {
	padding: 0 2rem;
	width: 50%;
	font-size: 1.7rem;
	font-family: var(--font);
	color: var(--font-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
