.section_1 {
	min-height: 50rem;
	height: 100%;
	background-image: url(../asssets/bg-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: blanchedalmond;
	/* flex: ; */
	display: flex;
	max-width: 100%;
	justify-content: center;
}

.content {
	max-height: 100%;
	max-width: 100%;
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-basis: 50rem;
	align-items: center;
	flex-wrap: wrap;
}

.header {
	overflow: hidden;
	font-size: 6rem;
	font-family: var(--font);
	color: white;
}

.item_1 {
	font-size: 1.7rem;
	font-family: var(--font);
	color: white;
}

.s2_content {
	background-color: rgb(102, 100, 98);
	padding: 4rem 0;

	/* flex */
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.s2_image {
	width: 20rem;
}

.s2_text {
	/* flex basis = flex element width */
	font-family: var(--font);
	color: rgb(174, 172, 172);
	font-size: var(--font-size);
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	flex-basis: 50%;
}

.s3_content {
	max-height: auto;
	background-color: antiquewhite;
	padding: 10rem 0;

	/* flex */
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

.s3_image {
	width: 37rem;
	display: flex;
	/* justify-content: center; */
}

.s3_text {
	font-family: var(--font);
	color: rgb(174, 172, 172);
	font-size: var(--font-size);
	/* flex basis = flex element width */
	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	flex-basis: 30%;
	font-size: 1.6rem;
}
