.mainContainer {
	min-height: 100%;
	max-width: 100%;
	background-color: #5bc0cb;
}

.section_1 {
	height: 10rem;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}

.header {
	color: rgba(254, 254, 254, 0.985);
}

.section_2 {
	background-color: #27a2ac;
}

.section_2 > h2 {
	padding: 2rem;
	color: white;
}
.arrow {
	display: flex;
	justify-content: center;
}

/* --------------------------------- tablet --------------------------------- */
@media screen and (min-width: 480px) and (max-width: 768px) {
	.section_2 {
		display: flex;
		flex-direction: column;
	}
}
/* --------------------------------- Desktop -------------------------------- */
@media screen and (min-width: 769px) {
	.section_2 > h2 {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
