.container {
	max-width: 100%;
	min-height: fit-content;
	height: 100%;
	margin: 0%;
	/* -------------------------------------------------------------------------- */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.content {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.header {
	text-align: center;
	padding: 1rem;
}
.company_name {
	font-size: 2.5rem;
}

.main {
	padding: 1rem;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.owner_container {
	max-width: 20rem;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.owner_name > * {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}
.text_section {
	max-width: 100%;
}
.map_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact_info ul {
	list-style-type: none;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

#map {
	height: 25rem;
	width: 100%;
	background-color: black;
}
