.navbar {
	position: sticky;
	top: 0%;
	max-width: 100%;
	background-color: rgb(227, 225, 225);
	font-size: 1.3rem;
	z-index: 10;
	padding: 0.5rem;
	/* flex */
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	width: 3rem;
}
.links {
	width: 40rem;
	display: flex;
	justify-content: space-between;
}

.links a {
	font-size: 1.1rem;
	text-decoration: none;
	border: solid rgb(67, 65, 65) 2px;
	padding: 0.4rem 2rem;
	/* flex */
	display: flex;
	align-items: center;
}

.links a:hover {
	color: rgb(176, 176, 176);
	border-color: rgb(176, 176, 176);
}
