.navbar {
	height: 100%;
	background-color: rgb(35, 35, 35);
	font-size: 1.3rem;
	padding: 2rem;
	display: flex;
	justify-content: space-evenly;
}

.links {
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

.links a {
	color: white;
	text-decoration: none;
	border: solid white 2px;
	padding: 4px 40px;
}

.links a:hover {
	color: rgb(176, 176, 176);
	border-color: rgb(176, 176, 176);
}
