.container {
	padding: 1rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.header {
	font-size: 2rem;
}

.modal_container a {
	height: 100%;
	align-items: center;
	display: flex;
	margin: 0 1rem;
	text-decoration: none;
	color: rgb(33, 33, 33);
	font-weight: 500;
}
