.container {
	background-color: #333;
	width: 100%;
}

.search {
	background-color: #333;
	width: 10rem;
	display: flex;
}

.search ul {
	list-style-type: none;
	/* padding: 2rem 0; */
	position: absolute;
	background-color: whitesmoke;
	width: 13.5rem;
}
