.container {
	height: 100%;
	max-width: 70rem;
	margin: 2rem auto;
	display: flex;

	justify-content: space-between;
}

.section_1 {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 50%;
}

.section_2 {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.map {
	max-width: 70rem;
	margin: 0 auto;
}
.logo {
	max-width: 15rem;
}

.contactPerson li {
	list-style-type: none;
}

.groups {
	display: flex;
	flex-direction: column;
}

.groups img {
	max-width: 4.5rem;
}
