.container {
	height: 100%;
	max-width: 100%;
	max-width: 60rem;
	margin: 2rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.tags li {
	list-style-type: none;
}

.contactPerson li {
	list-style-type: none;
}

#map {
	height: 180px;
}

.taglist {
	max-width: 100%;
}
