.card {
	min-height: 15rem;
	margin: 1rem 2rem;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	background-color: #f5f5f573;
}

.logo {
	max-width: 6rem;
}

.bottomBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}
.certifications {
	display: flex;
	flex-direction: column;
}
.certifications > img {
	height: 1.2rem;
}

.tag {
	display: flex;
	align-items: center;
	width: fit-content;
	flex-direction: row-reverse;
	gap: 0.5rem;
}

.tag img {
	width: 1rem;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	.logo {
		max-width: 8rem;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.container {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.card {
		flex-basis: 40%;
	}
}

@media screen and (min-width: 1025px) {
	.container {
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.card {
		flex-basis: 25%;
		flex-grow: 1;
	}
	.text {
		height: 100%;
	}
}
