.card {
	min-height: 15rem;
	/* max-height: fit-content; */
	/* background-color: turquoise; */
	margin: 1rem 2rem;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	background-color: #f5f5f573;
}

.logo {
	max-width: 6rem;
}

.bottomBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}
.certifications {
	display: flex;
	flex-direction: column;
}
.certifications > img {
	height: 1.2rem;
}

.tag {
	display: flex;
	align-items: center;
	width: fit-content;
	flex-direction: row-reverse;
	gap: 0.5rem;
}

.tag img {
	width: 1rem;
}
